/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Style Implementation */

/* Custom Fonts */

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto;
}

.container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar header" "sidebar main-content";
  /*border: 2px solid red;*/
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  /*border: 2px solid blue;*/
  background-color: #1A92D3;
  color: #FFFFFF;
  grid-template-rows: 0.5fr 2fr 2fr;
}

.sidebar ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.sidebar-title img {
  max-height: 50px;
  max-width: 50px;
  margin-left: 8px;
}

.sidebar li img {
  max-height: 25px;
  max-width: 25px;
  margin-left: 8px;
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  min-height: auto;
  font-size: 24px;
  font-weight: bolder;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  gap: 24px;
  max-height: 75px;
} 

.sidebar ul li {
  display: flex;
  flex-direction: row;
  min-height: auto;
  justify-content: flex-start;
  align-items: center;
  font-size: 18;
  font-weight: bolder;
  padding: 8px;
  gap: 24px;
}

.sidebar-main-pages, .sidebar-pages {
  margin-top: 24px;
}

.header {
  grid-area: header;
  /*border: 2px solid green;*/
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 18px;
}

/*.header div {
  border: 1px solid green;
}*/

.header-input {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  gap: 16px;
}

.header-input img {
  max-width: 25px;
  max-height: 25px;
}

.header-input input {
  flex: 1;
  border-radius: 20px;
  border: 0px;
  background-color: #E2E8F0;
}

.user-info {
  grid-row: 1/2;
  grid-column: 2/3;
}

.user-greet {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px 24px;
}

.user-info-photo {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
}

.user-greet-hi {
  font-size: 14px;
  font-weight: bold;
}

.user-greet-name {
  font-size: 24px;
  font-weight: bolder;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding-right: 64px;
}

.user-info p {
  font-size: 18px;
  font-weight: bolder;
}

.bell-icon {
  max-width: 25px;
  max-height: 25px;
}

.header-buttons {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-buttons button {
  background-color: #1A92D3;
  border: 0px;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 8px 32px;
  font-weight: bolder;
}

.main-content {
  grid-area: main-content;
  /*border: 2px solid magenta;*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #E2E8F0;
  padding-bottom: 32px;
}

.main-content-left {
  grid-column: 1/2;
}

.main-content-left > p {
  font-weight: bolder;
  font-size: 16px;
  padding: 8px ;
}

.main-content-right {
  grid-column: 2/3;
}

.main-content-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
}

.project-card {
  background: linear-gradient(to right, #f0b42a, #f0b42a 2%, #ffffff 2%, #ffffff 100%);
  margin: 8px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: bolder;
  font-size: 16px;
  padding: 4px 8px;
}

.card-content {
  font-weight: lighter;
  font-size: 12px;
  padding: 4px 8px;
}

.project-icons {
  display: flex;
  justify-content: right;
  gap: 8px;
  padding: 4px 0px;
}

.project-icons img {
  max-width: 25px;
  max-height: 25px;
}